<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        BODY {background-image: "https://68.media.tumblr.com/bc4ee9cabc441fd4c1e70a413e555926/tumblr_nwwrotNRiU1qdeuyro1_1280.jpg";background-position: center;background-repeat: no-repeat;background-attachment: fixed;}
    </style>
    <title>Sightings</title>
</head>

<body background="https://68.media.tumblr.com/bc4ee9cabc441fd4c1e70a413e555926/tumblr_nwwrotNRiU1qdeuyro1_1280.jpg">
    <div class="wordCenter">
	<h1><center>Interested in All Squirrel Sightings?</center></h1>
	<center> <a href="add" class="btn btn-info">Click here to add a new sighting.</a></center
        <br><br>
	<center> <table class="centerTable" border="0" width="400" bgcolor="#D0D0D0">
        <thead>
        <tr>
	    <th><center>Unique Squirrel ID</center></th>
            <th><center>Edit Operation</center></th>
        </tr>
        </thead>
        <tbody>
        {% for sighting in content %}
            <tr>
	        <td><center>{{ sighting.Unique_Squirrel_ID }}</center></td>
                <td>
		    <a href="{{ sighting.Unique_Squirrel_ID }}" class="bbtn btn-link"><center>Update</center></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
	</table></center>
    </div>
</body>
</html>
