<!DOCTYPE html>
<html>
    <style>
        BODY {background-image: "https://www.publicdomainpictures.net/pictures/20000/velka/squirrel-in-snow-11298746798ZJv.jpg";background-position: center;background-repeat: no-repeat;background-attachment: fixed;}
    </style>
<body background="https://www.publicdomainpictures.net/pictures/20000/velka/squirrel-in-snow-11298746798ZJv.jpg" >
    <li>There are {{ num }} samples in our database.</li>
    <li>The average latitude of all sightings is {{ ave_la.Latitude__avg }}.</li>
    <li>The average longitude of all sightings is {{ ave_lo.Longitude__avg }}.</li>
    <li>The probability that the observed squirrel is running is {{running_pro}}.</li>
    <li>The probability that the observed squirrel is chasing is {{chasing_pro}}.</li>
</body>
</html>

