<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sightings Stats</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Unique Squirrel ID</th>
        <th>Shift</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    {% for sighting in content %}
        <tr>
            <td>{{ sighting.Latitude }}</td>
            <td>{{ sighting.Longitude }}</td>
            <td>{{ sighting.Unique_Squirrel_ID }}</td>
            <td>{{ sighting.Shift }}</td>
            <td>{{ sighting.Date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


</body>
</html>
